 
body
{
    background-color: #0055b5 !important;
    height: 100%;
}

#googleMap
{
    border-radius: 20px;
    width: 100%;
    height: 50%;
}

.shadow1
{
    padding-top: 1.5%;
    background-color: #eeeeee;
    box-shadow: 0 0 30px ;
    min-height: 96.5%;
}

#hover:hover
{
    box-shadow: 0 0 30px ;   
   background-color: #bbbbbb !important; 
}

.mysidebar
{
    box-shadow: 0 0 30px;
    position:fixed;
    padding: 80px 20px 30px 40px;
    background-color: #eeeeee;
}
