<html>
<head>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script>
function initMap()
{
	var latlng = new google.maps.LatLng(47.3709397, 8.5274632);
    var map = new google.maps.Map(document.getElementById('googleMap'), {
    center: latlng,
    zoom: 15
    });
    var infoWindow = new google.maps.InfoWindow({map: map});    
    if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };
              document.getElementById('id_coordinatesx').value = pos.lat;
              document.getElementById('id_coordinatesy').value = pos.lng;
              infoWindow.setPosition(pos);
              infoWindow.setContent('You are here.<br> ~' + position.coords.accuracy + 'meter');
              map.setCenter(pos);
            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
          }
}


function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
}
</script>

<style type="text/css">
#googleMap
{
	width: 700px;
	height: 500px;
}

</style>

</head>
<body onload="initMap();">
<h1>Home</h1>

<div id="googleMap"></div>

<a href="/blog/">Blog</a>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p}}
    
    <input type="submit" value="Add"/>
</form>


{% if user.is_authenticated %}    
    <a href="/logout/">Logout</a>
{% else %}
    <a href="/login/?next={{ request.path }}">Login</a>
{% endif %}
</body>
</html>
