{% extends request.POST|yesno:"basemobile.html,base.html" %}{% block script %}
<script>
function initMap()
{
    var points = new Array();
    var index = 0;
	var latlng = new google.maps.LatLng(47.3709397, 8.5274632);
    var map = new google.maps.Map(document.getElementById('googleMap'), {
    center: latlng,
    zoom: 15
    });
    var infoWindow = new google.maps.InfoWindow({map: map});
    
   {% for field in shops %}
           var image = {
            url: '../media/{{ field.pictures }}',
            size: new google.maps.Size(50, 50),
            scaledSize: new google.maps.Size(50, 50),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 32)
          };

            var marker = new google.maps.Marker(
			{
				position: new google.maps.LatLng({{ field.coordinatesx }}, {{ field.coordinatesy }}),
				map: map,
				draggable: false,
				animation: google.maps.Animation.DROP,
				title: '{{ field.name }}',		
              icon: image
			});            
            points[index] = marker;            
            index++;
    {% endfor %} 
    
    if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };

              infoWindow.setPosition(pos);
              infoWindow.setContent('You are here.<br> ~' + position.coords.accuracy + 'meter');
              map.setCenter(pos);
            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
          }
}


function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
}
</script>

{% endblock %}

{% block head %}
<div class="mysidebar">
<h4>
<a href="?">Alle</a><br>
<a href="?search=1&category=Gastronomie">Gastronomie</a><br>
<a href="?search=2&category=Lebensmittel">Lebensmittel</a><br>
<a href="?search=3&category=Elektronik">Elektronik</a><br>
<a href="?search=4&category=Textil/Fashion">Textil & Fashion</a><br>
<a href="?search=5&category=Fahrzeug">Fahrzeug</a><br>
<a href="?search=6&category=Schmuck">Schmuck</a><br>
<a href="?search=7&category=Fitness/Sport">Fitness & Sport</a><br>
<a href="?search=8&category=Beauty/Wellness">Beauty & Wellness</a><br>
<a href="?search=9&category=Abenteuer/Freizeit">Abenteuer & Freizeit</a><br>
<a href="?search=10&category=Bildung">Bildung</a><br>
<a href="?search=11&category=Diverses">Diverses</a><br>
</h4>
</div>
{% endblock %}

{% block content %}

<h1>Shops</h1>

{% if user.is_authenticated %}

<h1>{{ request.GET.category }}</h1>

        <table style="width:100%" class="table">
            <tr>
                <td>Name          </td>
                <td>Beschreibung</td>
                <td>Bild</td>
                <td>Koordinaten X</td>
                <td>Koordinaten Y</td>
            </tr>
         {% if request.GET.search %}
            {% for field in shops %}
            {% if request.GET.search|add:0 == field.category %}
            <tr id="hover" onclick="window.location.href='../{{ field.id }}'">
                <td><a href="../{{ field.id}}">{{ field.name }}</a></td>
                <td>{{ field.description }}</td>
                <td><img src="../media/{{ field.pictures }}" style="width: 100px; height:100px;"></td>
                <td>{{ field.coordinatesx }}</td>
                <td>{{ field.coordinatesy }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% else %}
        {% for field in shops %}
            <tr id="hover" onclick="window.location.href='../{{ field.id }}'">
                <td><a href="../{{ field.id}}">{{ field.name }}</a></td>
                <td>{{ field.description }}</td>
                <td><img src="../media/{{ field.pictures }}" style="width: 10%;"></td>
                <td>{{ field.coordinatesx }}</td>
                <td>{{ field.coordinatesy }}</td>
            </tr>
        {% endfor %}
        {% endif %}
        
    </table>
    <div id="googleMap"></div>

{% endif %}
{% endblock %}
