{% extends "base.html" %}
{% block script %}
<script>
function initMap()
{
	var latlng = new google.maps.LatLng(47.3709397, 8.5274632);
    var map = new google.maps.Map(document.getElementById('googleMap'), {
    center: latlng,
    zoom: 15
    });
    var infoWindow = new google.maps.InfoWindow({map: map});    
    if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };
              document.getElementById('id_coordinatesx').value = pos.lat;
              document.getElementById('id_coordinatesy').value = pos.lng;
              infoWindow.setPosition(pos);
              infoWindow.setContent('You are here.<br> ~' + position.coords.accuracy + 'meter');
              map.setCenter(pos);
            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
          }
}


function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
}
</script>


{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
{% if user.is_authenticated %}    
<h1>Add shop</h1>
{{ document.cookie }}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <table class="table">
    <tr><td><label>Name:</label></td><td>{{ form.name }}</td></tr>
    <tr><td><label>Description:</label></td><td>{{ form.description }}</td></tr>
    <tr><td><label>Category:</label></td><td>{{ form.category }}</td></tr>
    <tr><td><label>Pictures:</label></td><td>{{ form.pictures }}</td></tr>
    <tr><td><label>Coordinates X:</label></td><td>{{ form.coordinatesx }}</td></tr>
    <tr><td><label>Coordinates Y:</label></td><td>{{ form.coordinatesy }}</td></tr>
    <tr><td><label>Rating:</label></td><td>{{ form.rating }}</td></tr>
    <tr><td></td><td><input type="submit" value="Save shop"/></td></tr>
    </table>
    
    
</form>

<div class="googleMap hideit"></div>

{% else %}
    <a href="/login/?next={{ request.path }}">Login</a>
{% endif %}
{% endblock %}
