<html>
    <head>
            {% load staticfiles %}
            
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
            <link id="css" rel="stylesheet" href="{% static "css/mymobile.css" %}" >
            
        {% block script %}
        {% endblock %}
        
        
        
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
        <script src={% static "js/mobiledetection.js" %}></script>
        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    
    <body onload="test();">
        
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="/home/">Locator</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if "/home/" == request.path %} class="active" {% endif %}><a href="/home/">Add shop</a></li>
            <li {% if "/blog/" == request.path %} class="active" {% endif %}><a href="/blog/" >Shops</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          
            {% if user.is_authenticated %}    
                <li><a href="/logout/">LogoutMobile <span class="sr-only">(current)</span></a></li>
            {% else %}
                 <li><a href="/login/?next={{ request.path }}">Login <span class="sr-only">(current)</span></a></li>
            {% endif %}
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!--
    <div style="position: fixed; z-index: -99; width: 100%; height: 100%;">
        <iframe frameborder="0" height= 100% width=100% src="https://www.youtube.com/embed/7LDRrdD-Qww?autoplay=1&controls=0&showinfo=0&autohide=1">
        </iframe>
    </div>-->
        
    
    
        {% block head %}
        {% endblock %}
        
        <div class="container shadow1">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
